.nav-item-home {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size : 20px;
}

.nav-item {
  color:white;
  text-decoration: none;
  margin-right: 20px;
  font-size : 20px;
}