.nav-item-home {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size : 24px;
  padding-left: 10px;
}

.nav-item {
  color:white;
  text-decoration: none;
  margin-right: 20px;
  font-size : 24px;
  padding-left: 10px;
}

.banner {
  height:1080px;
  display:flex;
  align-items:center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner::before {
  position: absolute;
  left:0;
  width:100%;
  height:1080px;
  content:'';
  background:linear-gradient(to top, #141413, transparent);
}

.bigCard {
  z-index:1;
  /* width:300px; */
  height:650px;
  display: flex;
  border-radius: 13px;
  max-width:100%;
  max-height:100%;
}

.bigCard::before {
  z-index:1;

  position: absolute;
  width:450px;
  height:650px;
  content:'';
  background-image:linear-gradient(to top, black, transparent);
}

.movieCols {
  display: flex;
  position: relative;
}

.close-button {
  justify-content: end;
  display: flex;
  background-color: black;
}

.banner-info {
  width:40%;
  margin-left: 3%;
  z-index: 1;
}

.banner-title {
  font-size:100px;
  color:white;
  text-transform: uppercase;
}

.banner-description {
  font-size:30px;
  color:white;
  /* font-family: "Netflix Sans" */
}

.SortByRow {
  padding-bottom: 20px;
}

.sortType {
  color: white;
  font-size: 20px;
}

.filterType {
  color: white;
  font-size: 25px;
  padding-bottom: 30px;
}

.SlideContainer {
  display: flex;
}

.card {
  width:350px;
  height:200px;
  transition: 0.70s, transform 0.70s ease;
  -moz-transition: 0.70s, transform 0.70s ease;
  -webkit-transition: 0.70s, transform 0.70s ease;
}

.card:hover {
  width:385px;
  height:220px;
  -ms-transform: scale(1.10); /* IE 9 */
  -webkit-transform: scale(1.10); /* Safari */
  transform: scale(1.10);
}

.card-wrapper {
  width:385px;
  height:220px;
  display: flex;
  justify-content: center;
}

.filter-container {
  justify-content: center;
}

.movieSectionBg {
  background-color: #141413;
}

.movieSectionContainer {
  margin-left: 3%;
}

.movieSectionHeading {
  color: white;
  font-size: 25px;
  font-family: 'Brush Script MT', cursive;
}

.movieFirstRow {
  padding-top:20px;
  padding-bottom:30px;
}

.overlay {
  opacity: 0;
  background: rgba(43,41,41,0.9);
  width: 100%;
  height: 100%;
  color:white;
  padding-left: 40px;
  padding-top: 20px;

}

.card:hover .overlay {
  opacity: 1;
 
}

.Btn-container{
  background-color: black;
  justify-content: end;
  display:flex;
}

.closeButton {
  width:35px;
  height:35px;
  background-color: black;
}

.movieTitle2 {
  font-size: 35px;
  width: 280px;
  z-index: 2;
  color:red;
  font-family: "Lucida Console", "Courier New", monospace;
}

.movieDetailBg {
  justify-content: center;
  background-color: black;
  height:100%;
}

.movieOverview {
  z-index : 2;
  width: 250px;
  height: 200px;
  color:white;
  font-size: 18px;
  padding-bottom: 30px;

}

.ItemContainer {
  height: 200px;
}


.PageBox {
  font-size: 40px;
  width: 100%;
  display: flex;
  /* columns: 7; */
  flex-direction: row;
  justify-content: end;
  list-style-type: none;
}


.li-item {
  
  color: black;
  background: red;
  /* border: 0.1075em solid #0F1C3F; */
  border-radius: 100%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);  
  width: 60px;
  display: flex;
  justify-content: center;
  background:linear-gradient(to right, red, rgb(198, 104, 5));

}

.Item {
  height: 200px;
}

.break-item {
  color: white;
}

.GenresTitle {
  padding-top: 20px;
  color:white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.genreBox {
  border-radius: 33px;
  display:flex;
  padding-top: 20px;
}

.genreButton {
  padding-bottom: 7px;
}

.paginationContainer {
  font-size: 25px;
  width:100%;
  height:100%;
  display: flex;
}

.detailContainer {
  justify-content: center;
  display: flex;
  padding-bottom: 30px;
}

.movie-image {
  display: flex;
}

.movieTitle {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
}

.movieReleasedate {
  color: white;
  font-size: 20px;
}

.detailpage-genres {
  margin-bottom:10px;
  font-size: 20px;
  font-weight: 200;
}

.detailpage-title {
  color:white;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-left: 15px;
}

.detailpage-tagline {
  color:white;
  font-size: 30px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.detailpage-overview {
  color:white;
  font-size: 22px;
  width:70%;
  padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.detailpage-genre {
  border-radius:40px
}

.detailpage-imdbscore {
  color:white;
  font-size: 20px;
}

.detailpage-imdbline {
  justify-content: flex-start;
  width:70%;
  margin-bottom:10px;
  padding-left: 5px;
}

.detailpage-adult {
  color:red;
  font-style: italic;
  font-size: 23px;
  font-weight: bold;
}

.detailpage-infobox {
  width: 50px;
}

.detailpage-whiteText {
  color:white;
  font-size: 20px;
}

.detailpage-item {
  margin-bottom:5px;
  font-size: 20px;
}

.detailpage-line {
  border-bottom: 2px solid white;
  width:70%;
}

.detailpage-line-review {
  border-bottom: 2px solid white;
  width:100%;
}

.detailpage-trailer {
  color: red;
  font-size: 5px;
}

.card-bg {
  justify-content: center;
  background-color: black;
}

.card-body {
  background-color: black;
}

.card-title {
  color: white;
  justify-content: center;
  background-color: black;
  font-family:Helvetica;
  font-size: 21px;

}

.card-text {
  color:white;
  justify-content: center;
  background-color: black;
  font-family: 'Helvetica';
  font-size: 21px;
}

.reviewBox {
  height: auto;
}

.reviewButtons {
  padding-top: 100px;
  padding-bottom: 30px;
}

.review-boxBorder {
  border: 2px solid white;
  padding: 30px;
}

.review-button {
  font-size: 10px;
  width: 100%;
  text-wrap: nowrap;
}

.related-movies-button {
  font-size: 10px;
  width: 100%;
  text-wrap: nowrap;
}

.related-movie-card-row {
  padding-bottom: 20px;
}

